<div id="featured" class="featured bg-black">
    <h2 class="text-center text-white ">LuvByrd Featured in</h2>

    <div class="container">
        <div id="featured-slider" class="row">

            <div class="col-sm-2">
                <figure class="border-yellow">
                    <a href="http://www.outsideonline.com/2013061/dating-site-people-who-get-sweaty-outside">
                        <img src="{{ asset('bundles/app/images/outside.jpg') }}" alt="image" class="img-responsive"/>
                    </a>
                </figure>
            </div>

            <div class="col-sm-2">
                <figure class="border-dark">
                    <a href="http://kdvr.com/2015/09/29/rocky-mountain-outdoor-lovers-can-find-romance-online/">
                        <img src="{{ asset('bundles/app/images/fox.jpg') }}" alt="image" class="img-responsive"/>
                    </a>
                </figure>
            </div>

            <div class="col-sm-2">
                <figure class="border-light">
                    <a href="http://www.mensjournal.com/adventure/articles/tinder-for-thrill-seekers-luvbyrd-a-dating-app-for-adventurers-w212605">
                        <img src="{{ asset('bundles/app/images/mj.jpg') }}" alt="Men's Journal: Health, Adventure, Gear, Style"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>


            <div class="col-sm-2">
                <figure class="border-dark">
                    <a href="http://observer.com/2016/07/looking-for-adventurous-love-try-this-dating-app-for-outdoorsey-types/">
                        <img src="{{ asset('bundles/app/images/observer.jpg') }}" alt="Looking for Adventurous Love? Try This Dating App for Outdoorsey-Types | Observer"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>


            <div class="col-sm-2">
                <figure class="border-light">
                    <a href="http://freeskier.com/stories/app-connects-single-outdoor-enthusiasts-lookin-love">
                        <img src="{{ asset('bundles/app/images/freeskier.jpg') }}" alt="Watch out, Tinder: New LuvByrd app connects single skiers and outdoorists alike - Freeskier"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>

            <div class="col-sm-2">
                <figure class="border-dark">
                    <a href="http://gearpatrol.com/2016/07/22/luvbyrd-dating-app/">
                        <img src="{{ asset('bundles/app/images/gearpatrol.jpg') }}" alt="LuvByrd, the Dating App for Outdoor Enthusiasts - Gear Patrol"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>


            <div class="col-sm-2">
                <figure class="border-light">
                    <a href="http://www.gearinstitute.com/gear-news/gear-spotter/item/luvbyrd-is-the-dating-app-for-outdoor-enthusiasts">
                        <img src="{{ asset('bundles/app/images/gearinstitute.jpg') }}" alt="LuvByrd is the Dating App for Outdoor Enthusiasts | Gear Institute"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>


            <div class="col-sm-2">
                <figure class="border-dark">
                    <a href="http://www.theinertia.com/mountain/luvbyrd-is-an-app-helping-outdoors-loving-singles-meet/">
                        <img src="{{ asset('bundles/app/images/theinertia.jpg') }}" alt="LuvByrd is an App Helping Outdoors-Loving Singles Meet"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>

            <div class="col-sm-2">
                <figure class="border-light">
                    <a href="http://www.lovethebackcountry.com/how-to-find-perfect-hiking-mate/">
                        <img src="{{ asset('bundles/app/images/lovethebackcountry.jpg') }}" alt="For single people out there that are interested in finding someone who loves the outdoors as much as they do, comes the incredible "
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>

            <div class="col-sm-2">
                <figure class="border-dark">
                    <a href="http://activejunky.com/articles/luvbyrd-dating-app-takes-it-outside">
                        <img src="{{ asset('bundles/app/images/activejunky.jpg') }}" alt="LuvByrd Dating App Takes it Outside | Active Junky"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>

            <div class="col-sm-2">
                <figure class="border-light">
                    <a href="http://snowbrains.com/a-new-dating-app-for-skiers-hopes-to-eliminate-lonely-skiers/">
                        <img src="{{ asset('bundles/app/images/snowbrains.jpg') }}" alt="A New Dating App For Skiers Hopes To Eliminate Lonely Skiers - SnowBrains.com"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>

            <div class="col-sm-2">
                <figure class="border-dark">
                    <a href="http://unofficialnetworks.com/2016/07/luvbryd-the-dating-app-for-skiers">
                        <img src="{{ asset('bundles/app/images/unofficialnetworks.jpg') }}" alt="LuvBryd | The Dating App For Ski Bums | Unofficial Networks"
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>


            <div class="col-sm-2">
                <figure class="border-light">
                    <a href="http://www.telegraph.co.uk/travel/ski/news/new-dating-app-is-like-tinder-for-skiers-/">
                        <img src="{{ asset('bundles/app/images/telegraph.jpg') }}" alt="New dating app is like Tinder for skiers "
                             class="img-responsive"/>
                    </a>
                </figure>
            </div>

            {#<div class="col-sm-2">#}
                {#<figure class="border-dark">#}
                    {#<a href="https://www.youtube.com/watch?v=nyV4O4Id-0Y ">#}
                        {#<img src="{{ asset('bundles/app/images/list.jpg') }}" alt="image" class="img-responsive"/>#}
                    {#</a>#}
                {#</figure>#}
            {#</div>#}



            {#<div class="col-sm-2">#}
                {#<figure class="border-dark">#}
                    {#<a href="http://www.steamboattoday.com/news/2015/nov/19/new-dating-website-focuses-colorado-and-outdoor-li/">#}
                        {#<img src="{{ asset('bundles/app/images/today.jpg') }}" alt="image" class="img-responsive"/>#}
                    {#</a>#}
                {#</figure>#}
            {#</div>#}

            {#<div class="col-sm-2">#}
                {#<figure class="border-light">#}
                    {#<a href=" http://www.therooster.com/blog/meet-luvbyrd-most-colorado-y-dating-site-all-time">#}
                        {#<img src="{{ asset('bundles/app/images/rooster.jpg') }}" alt="image" class="img-responsive"/>#}
                    {#</a>#}
                {#</figure>#}
            {#</div>#}


            {#<div class="col-sm-2">#}
                {#<figure class="border-dark">#}
                    {#<a href="http://303magazine.com/2014/11/next-date-love-outdoors-luvbyrd/">#}
                        {#<img src="{{ asset('bundles/app/images/magazine.jpg') }}" alt="image" class="img-responsive"/>#}
                    {#</a>#}
                {#</figure>#}
            {#</div>#}


            {#<div class="col-sm-2">#}
                {#<figure class="border-dark">#}
                    {#<a href="http://www.vaildaily.com/news/19148919-113/luvbyrdcom-is-for-outdoors-adventurers-looking-for-some">#}
                        {#<img src="{{ asset('bundles/app/images/validaily.jpg') }}" alt="image" class="img-responsive"/>#}
                    {#</a>#}
                {#</figure>#}
            {#</div>#}

            {#<div class="col-sm-2">#}
                {#<figure class="border-dark">#}
                    {#<a href="http://www.westword.com/arts/luvbyrd-connects-singles-who-love-outdoor-activities-and-could-love-each-other-6050062">#}
                        {#<img src="{{ asset('bundles/app/images/westword.jpg') }}" alt="image" class="img-responsive"/>#}
                    {#</a>#}
                {#</figure>#}
            {#</div>#}
        </div>
    </div>
    {#<br />#}
</div>