{% extends "::amp.html.twig" %}

{% block title %}{% if page is not null %}{{ 'meta.title.page'|trans({'%pageTitle%': page.title}, 'messages') }}{% endif %}{% endblock %}
{% block metaDescription %}{% if page is not null %}{{ 'meta.description.page'|trans({'%pageMetaDescription%': page.metaDescription}, 'messages') }}{% endif %}{% endblock %}

{#{% block AngularApp %} <html> {% endblock %}#}

{#{% block header %}#}
    {#{% include 'AppBundle:Blocks:header.html.twig' %}#}
{#{% endblock %}#}

{% block content %}
    <div class="static-page">

        <div class="bg-white">

            <h1 class="text-center">{{ page.title }}</h1>

            <h4 class="text-center">{{ page.description }}</h4>
                <div class="main-div">
                    {% if app.request.attributes.get('slug') == 'luvbyrd-disclaimer' %}
                        <div class="terms-page">
                            {{ page.content|raw }}
                        </div>
                    {% else %}
                        {{ page.content|raw }}
                    {% endif %}
                </div>
            <br />

        </div>

    </div>
{% endblock %}
