{#{% extends "::base.html.twig" %}#}
{#{% form_theme form _self %}#}

{#{% block title %}{{ 'meta.title.register'|trans({}, 'messages') }}{% endblock %}#}
{#{% block metaDescription %}{{ 'meta.description.register'|trans({}, 'messages') }}{% endblock %}#}

{#{% block AngularApp %} <html data-ng-app="user" data-ng-controller="RegistrationController"> {% endblock %}#}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}

    {#<link href="{{ asset('app/bower_components/ngImgCrop/compile/minified/ng-img-crop.css') }}" rel="stylesheet"/>#}
    {#<link href="{{ asset('app/bower_components/dropzone/downloads/css/dropzone.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('app/bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('bundles/app/css/dropDown.css') }}" rel="stylesheet">#}

{#{% endblock %}#}

{#{% block header %}#}
    {#{% include 'AppBundle:Blocks:header.html.twig' %}#}
{#{% endblock %}#}

{#{% block content %}#}
<div id="register3" data-ng-app="user" data-ng-controller="RegistrationController">

    <div class="row bg-white">

            <div class="col-sm-12">

                <a href="#close-modal" rel="modal:close">
                    <span aria-hidden="true" class="close-modal"></span>
                </a>

                {% if app.request.isMethod("POST") %}
                    <div class="bg-danger help-block text-center">
                            <p class="text-red">{{form.feet.vars.errors[0].message|default(null) }}</p>
                            <p class="text-red">{{form.inches.vars.errors[0].message|default(null) }}</p>
                            <p class="text-red">{{form.interests.vars.errors[0].message|default(null) }}</p>
                            <p class="text-red">{{form.summary.vars.errors[0].message|default(null) }}</p>
                            {% if captchaError is defined and captchaError is not null %}
                                <p class="text-red">{{ captchaError }}</p>
                            {% endif %}
                    </div>
                {% endif %}

                <h1 class="text-center">Complete sign up </h1>

                <div class="row interest-scroll">
                    <div class="col-sm-12">
                        <form id="register2-form" novalidate action="{{ path('register_step_3') }}" enctype="multipart/form-data" method="POST" class="fos_user_registration_register form-horizontal">

                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">

                                    {{ form_errors(form) }}

                                    <div class="form-group row">
                                        <label class="col-sm-6 col-md-5 control-label">
                                            Height
                                            <bdi style="color: red"> *</bdi>
                                        </label>
                                        <div class="col-sm-6 col-md-7">

                                            <div class="row">
                                                <div class="col-xs-6 col-md-4">
                                                    {{ form_widget(form.feet) }}
                                                    {{ form_errors(form.feet) }}

                                                </div>
                                                <div class="col-xs-6  col-md-4">
                                                    {{ form_widget(form.inches) }}
                                                    {{ form_errors(form.inches) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        {{ form_label(form.zipCode, null, {'label_attr': {'class': 'col-sm-6 col-md-5 control-label'}}) }}

                                        <div class="col-sm-6 col-md-7">
                                            {{ form_widget(form.zipCode) }}
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        {{ form_label(form.summary, null, {'label_attr': {'class': 'col-sm-6 col-md-5 control-label'}}) }}
                                        <div class="col-sm-6 col-md-7">
                                            {{ form_widget(form.summary) }}
                                        </div>
                                        {{ form_errors(form.summary) }}
                                    </div>

                                    <div class="form-group row">
                                        {{ form_label(form.craziestOutdoorAdventure, 'registration.craziest_outdoor'|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'col-sm-6 col-md-5 control-label'}}) }}
                                        <div class="col-sm-6 col-md-7">
                                            {{ form_widget(form.craziestOutdoorAdventure) }}
                                        </div>
                                        {{ form_errors(form.craziestOutdoorAdventure) }}
                                    </div>


                                    <div class="form-group row">
                                        {{ form_label(form.favoriteOutdoorActivity, 'registration.favorite_outdoor'|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'col-sm-6 col-md-5 control-label'}}) }}
                                        <div class="col-sm-6 col-md-7">
                                            {{ form_widget(form.favoriteOutdoorActivity) }}
                                        </div>
                                        {{ form_errors(form.favoriteOutdoorActivity) }}
                                    </div>

                                    <div class="form-group row">
                                        {{ form_label(form.likeTryTomorrow, 'registration.like_try'|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'col-sm-6 col-md-5 control-label'}}) }}
                                        <div class="col-sm-6 col-md-7">
                                            {{ form_widget(form.likeTryTomorrow) }}
                                        </div>
                                        {{ form_errors(form.likeTryTomorrow) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1" id="interest">

                                    <h4 class="row">{{ form_label(form.interests, null, {'label_attr': {'class': 'col-sm-6 col-md-2 '}}) }}</h4>

                                    {{ form_widget(form.interests) }}
                                    {{ form_errors(form.interests) }}

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 text-right">
                                    <input type="submit" name="Complete" class="btn btn-blue" value="Complete" />
                                </div>
                            </div>

                            {{ form_widget(form._token) }}

                        </form>
                    </div>
                </div>
            </div>

        </div>

</div>
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#{% javascripts output='js/fos_register_3.js'#}
        {#'app/bower_components/ngImgCrop/compile/minified/ng-img-crop.js'#}
        {#'app/bower_components/dropzone/downloads/dropzone.min.js'#}
        {#'app/bower_components/angular-resource/angular-resource.min.js'#}
        {#'app/scripts/Google/Google.js'#}
        {#'app/bower_components/select2/dist/js/select2.full.min.js'#}
        {#'app/bower_components/angular-strap/dist/angular-strap.min.js'#}
        {#'app/bower_components/angular-strap/dist/angular-strap.tpl.min.js'#}
        {#'bundles/lbuser/js/angular/facebook.js'#}
        {#'bundles/lbuser/js/angular/user.js'#}
        {#%}#}
    {#<script src="{{ asset_url }}" type="text/javascript"></script>#}
    {#{% endjavascripts %}#}

    {#<script src='{{ asset('bundles/app/js/dropDown.js') }}' type="text/javascript"></script>#}


{#{% endblock %}#}


