{% extends "LBUserBundle:Basses:settings.html.twig" %}

{% block settings_content %}
    {{ parent() }}

    <div class="row">
        <div class="col-sm-12">

            <p>{{ 'change_password.general_settings'|trans({}, 'FOSUserBundle') | capitalize }}</p>

            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                <div class="form-group">
                    <label for="password">{{ 'change_password.current_Password'|trans({}, 'FOSUserBundle') | capitalize }}</label>
                    {{ form_widget(form.current_password, {'attr': {'class' : 'form-control' } }) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">{{ 'change_password.change_password'|trans({}, 'FOSUserBundle') | capitalize }}</label>
                    {{ form_widget(form.new.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">{{ 'change_password.new_password'|trans({}, 'FOSUserBundle') | capitalize }}</label>
                    {{ form_widget(form.new.second, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-blue">{{ 'change_password.save_changes'|trans({}, 'FOSUserBundle') | capitalize }}</button>
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>

{% endblock %}